



:root{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color:#5f6368;
}

html{
 height:100%;
}

#top-container{
    
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 60px;
    color:#5f6368;
    z-index:1;
}

#top-container .top-content{
    width: 170px;
    height: 60px;
    margin-left:auto;
    margin-right: 100px;
    display:flex;
}
#top-container .top-content .top-links {
    display:flex;
    justify-content: space-between;
    align-items :center;
    
}
#top-container .top-content .top-links .top-list{
    margin-top: 20px;
    display:flex;
    
    
}

#top-container .top-content .top-links .top-list .top-bullet{
    padding : 0 10px 0 0;
    list-style-type: none;
}

#top-container .top-content .top-links .top-list .top-bullet a{
    color: #5f6368;
    font-size: 17px;
    text-decoration: none;
}
#top-container .top-content .top-links .top-list .top-bullet :hover{
    
    text-decoration:underline;
}


.icons-top{
    width: 110px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-left:auto;
    }

.icons-top .icon-dots{
    
    width:50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.icons-top :hover{
    background-color: hsl(0, 0%, 80%,0.7);
}

.icons-top .icon-dots .icon-boundary{
    background-color: hsl(0, 0%, 80%,0);
    width:25px;
    height: 25px;
    fill: #5f6368;

   
}
.icons-top .icon-letter {
 
    height:60px;
    width:60px;
    border-radius: 50%;
}

.icons-top .icon-letter img{
    margin-top:5px;
    margin-left: 5px;
    height:50px;
    border-radius: 50%;
    

}



#middle-container{
    display:block;
position:absolute;
top:0;
left:0;    
width:100%;
height:100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

#middle-container .main-logo{
    width: 272px;
    height: 92px;
    display:block;
}

#middle-container .main-logo img{
    width: 272px;
    height: 92px;

}

#middle-container .searchbar{
    margin-top: 20px;
    width: 100%;
    

}


#middle-container .searchbar .form .searchform{
   margin: auto;
   max-width: 500px;
   border-radius: 24px;
   border: 1px solid #dfe1e5;
    display:flex;
    justify-content: center;
    
}
#middle-container .searchbar .form  :hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
    }
#middle-container .searchbar .form .searchform :hover {
        box-shadow: none;
        border-color: none;
        }

#middle-container .searchbar .form .searchform input{
    border:none;
    width: 100%;
    height: 35px;
    max-width: 500px;
    font-size: 100%;
    border-radius: 24px;
    padding-left: 10px;;
    
}

#middle-container .searchbar .form .searchform :focus{
    outline: none;
    
}

.magnifying-glass{
    margin-top: 5px;;
    margin-left :10px;
    height: 30px;
    width: 30px;
    align-self: center;
}

#middle-container .button-container{
    
    margin-top: 30px;
    width:100%;
    height: 60px;
   

}

#middle-container .button-container .thebuttons{
    margin:auto;
    width: 400px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    
}

#middle-container .button-container .thebuttons input{
    font-size: 20px;
    width: 150px;
    border:none;
    border-radius: 5px;
    background-color:rgb(246, 247, 248);
    color:#5f6368;
    
}
#middle-container .button-container .thebuttons .big{
    width: 190px;
}

#middle-container .button-container .thebuttons  :hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}
 

#bottom-container{
    position:absolute;
    background-color: rgb(242, 242, 242);
    height:60px;
    width: 1265px;
    bottom:0;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

#bottom-container .left {
 

}
#bottom-container .right{


}


#bottom-container .left :hover{
    
    text-decoration:underline;
}

#bottom-container .right  :hover{
    
    text-decoration:underline;
}